.App {
  height: 100vh;

  background-image: linear-gradient(
    to right bottom,
    #053732,
    #006449,
    #0dbdd4,
    #1f51af,
    #3a12eb
  );
}

/* topper css */

.topper {
  padding-top: 15%;
}

.avatar {
  margin: 0 auto;

  width: 50;
  height: 50;
}


.Topper-name{
  text-align: center;
  /* margin: 0 auto; */
}
